<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <environment names="Development">
        <link href="~/lib/materialdesign-webfont/css/materialdesignicons.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/materialdesign-webfont/css/materialdesignicons.min.css" rel="stylesheet" />
    </environment>
</head>
<body class="container">
    @RenderBody()
    <environment names="Development">
        <script type="text/javascript" src="~/lib/jquery/jquery.slim.min.js"></script>
        <script type="text/javascript" src="~/lib/popper.js/umd/popper.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            asp-fallback-src="~/lib/jquery/jquery.slim.min.js"
            asp-fallback-test="window.jQuery"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
        </script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous">
        </script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous">
        </script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>