@model LibraProgramming.ChatRoom.Services.Chat.Api.Models.ErrorModel

<div>
    <h4>@Model.ErrorMessage.Error</h4>
    <span>@Model.ErrorMessage.ErrorDescription</span>
    <small>@Model.ErrorMessage.RequestId</small>
</div>